go 1.25.0

use (
	./pkg
	./proto/upload
	./services/expirer
	./services/metadata
	./services/outbox-dispatcher
	./services/orchestrator
	./services/publish
	./services/segment
	./services/thumbnail
	./services/transcode
	./services/upload
)
